@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(../fonts.gstatic.com/s/exo2/v3/w4iawertlhke0kn1t814da.woff) format('woff');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: local('Exo 2 Bold'), local('Exo2-Bold'), url(../fonts.gstatic.com/s/exo2/v3/_yeyo5flfe2fzh25hterlveszw2xoq-xsnqo47m55da.woff) format('woff');
}
