@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum'), local('Cuprum-Regular'), url(../fonts.gstatic.com/s/cuprum/v7/whbezcjwni3hn2fd1rqjgw.woff) format('woff');
}
